<div class="row">
    <div class="col-12">
        <div class="card ">
            <div class = "row">
                <div class = "col-lg-12">
                    <div class ="row align-items-center">
                        <div class = "col-lg-10">
                        <span class="title_main"> {{title_entity}}</span>
                        </div>
                        <div class = "col-lg-2 content_back" [hidden]="hiddeRegresar">
                            <img src="https://img.icons8.com/flat_round/64/000000/circled-left.png" 
                            (click)="regresar()" class="image_back"/> 
                            <span (click)="regresar()"  class="regresar">Regresar</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="row">
            <div class="col-12">
                <div class="row">

                    <div class="col-lg-3 col-md-6" *ngFor="let menu of menuListd">
                        <div class="card bg-info">
                            <div class="card-body">
                                <div id="myCarousel3" class="carousel slide" data-ride="carousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        
                                        <div class="carousel-item active flex-column">
                                            <span class="material-icons wihte100 font-icon">
                                                {{menu.module_icon}}
                                                </span>
                                            <br/><br/>
                                            <h3 class="text-white font-medium">{{menu.module}}</h3>
                                            <div class="button-options-content">
                                                <button class="btn bg-light b-0 waves-effect waves-light m-t-15 button-options" >Ver</button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     
                      

                </div>
            </div>
        
