<div class="card card-hover">
    <div class="card-body">
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">Estatus de Documentos</h4>
                <h5 class="card-subtitle">Datos generales sobre el estatus de documentos</h5>
            </div>
            <div class="ml-auto align-items-center">
                <div class="dl">
                    <select class="custom-select">
                        <option value="0" selected>Por Mes</option>
                        <option value="1">Por Día</option>
                        <option value="2">Por Semanal</option>
                        <option value="3">Por Año</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- column -->
        <div class="row m-t-40">
            <!-- column -->
            <div class="col-lg-6">
                <div id="visitor" class="m-t-20"></div>
            </div>
            <!-- column -->
            <div class="col-lg-6">
                <h1 class="display-6 m-b-0 font-medium">45%</h1>
                <span>Open Ratio for Campaigns</span>
                <ul class="list-style-none">
                    <li class="m-t-20">
                        <i class="fas fa-circle m-r-5 text-cyan font-12"></i> Open Ratio
                        <span class="float-right">45%</span>
                    </li>
                    <li class="m-t-20">
                        <i class="fas fa-circle m-r-5 text-info font-12"></i> Clicked Ratio
                        <span class="float-right">14%</span>
                    </li>
                    <li class="m-t-20">
                        <i class="fas fa-circle m-r-5 text-orange font-12"></i> Un-Open Ratio
                        <span class="float-right">25%</span>
                    </li>
                    <li class="m-t-20">
                        <i class="fas fa-circle m-r-5 text-primary font-12"></i> Bounced Ratio
                        <span class="float-right">17%</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- column -->
    </div>
</div>
<div class="card e-campaign">
    <div class="card-body">
        <h4 class="card-title">Datos generales</h4>
        <div class="row m-t-40">
            <div class="col-sm-12 col-md-6 text-center">
                <div class="css-bar css-bar-75 css-bar-xlg css-bar-primary">
                    <div class="data-text">
                        <h1 class="success-rate text-info font-light">75
                            <span class="icon">%</span>
                        </h1>
                        <div class="rate-label font-15">Documentos aprobados en 400 carpetas operativas</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="w-75 c-cost">
                    <div class="d-inline-block align-middle">
                        <i class="mdi mdi-wallet text-info"></i>
                    </div>
                    <div class="d-inline-block align-middle m-l-10">
                        <span class="text-muted font-14">Total de documentos en carpetas operativas</span>
                        <h2 class="text-info font-bold m-b-0">1500</h2>
                    </div>
                </div>
                <ul class="list-style-none stats m-t-30">
                    <li class="m-t-10">
                        <i class="fa fa-circle m-r-5 text-success font-12"></i> 75% Documentos aprobados </li>
                    <li class="m-t-10">
                        <i class="fa fa-circle m-r-5 text-warning font-12"></i> 15% Documentos rechazados </li>
                    <li class="m-t-10">
                        <i class="fa fa-circle m-r-5 text-info font-12"></i> 5% documentos pendientes </li>
                </ul>
            </div>
        </div>
    </div>
</div>
