/*_________________________________COLOR TABLES ROWS COLUMNS*/
.alert_message{
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

.save_disabled_btn{
  opacity: 0.5;
  cursor:  not-allowed;
  width: 20px;
  height: 20px;
}

.tools{
  width: 20px;
  height: 20px;
  /*margin-left: 5px;*/
  cursor: pointer;
}

.row_new{
  background-color: cadetblue;
}
/*__________________________________________________________*/
/*//////////////////////////CONTROLS*/
.content-general-tools{
  text-align: right;
}
figure { 
  display: inline-block;
  border-right: gray;
  border-style:  hidden solid hidden hidden;
  border-width: 1px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  width: max-content;
  margin-bottom: 0%;
}
.table-controls{
  background-color: rgb(216, 224, 224);
}
.tool-text{
  color: black;
  font-size: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
/*///////////////////////////////////*/

select, input{
  padding: 0% 0% 0% 0%;
  height: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: smaller;
  color: cadetblue;
  font-family: Arial, Helvetica, sans-serif;
}
th{
  padding-top: 1px;
  padding-bottom: 1px;
  vertical-align: middle;
  text-align: center;
  color: #0B5345;
  font-family: Arial, Helvetica, sans-serif;
}
td{
  padding: 0% 0% 0% 5px;
}
td > select, input { 
        padding-right: 0px;
        margin-bottom: 1px;
        margin-top: 0%;
        margin-right: 0px;
        min-width: 100px;
      }
.description_long{
  padding-right: 0px;
        margin-bottom: 1px;
        margin-top: 0%;
        margin-right: 0px;
        min-width: 200px;
}
/*td{
  white-space: nowrap;
  border: 1px solid blue;
  text-overflow: ellipsis;
  overflow: hidden;
  width: auto;
}
.rows-style{
  padding-top: 0%;
  padding-bottom: 0%;
  vertical-align: middle;
  text-align: center;
  width: auto;
}*/
.table-titles{
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}
.table-content{
  margin-left: 0%;
  padding-left: 0%;
  display: flex;
  width: 100%;
  overflow-x: auto;
  background-color:white;
}

.sts-container {
    overflow-y: scroll;
    position: relative;
    /* scroll container also needs a fixed/defined height */
  }
  .sts-container .sts-row {
    position: absolute;
  }
  .sts-container .sts-bottom-anchor {
    position: absolute;
    height: 1px;
    width: 1px;
  }

  .width-smart-table{
      width: 1000px;
      background-color: teal;
  }

.col-custom{
  width: 50%;
  overflow-x: hidden;
}
.table-container{
  width: 1500px;
  height: 500px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.tools-align{
  text-align: right;
  display: block;
}
.tools-content{
  border-style: none none solid none;
  border-width: 1px;
  border-bottom: teal;
  background-color: rgb(216, 224, 224);
  padding-bottom: 1px;
}
.content-table{
  margin-top: 2px;
}
.title_main{
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
}

.regresar{
  color: blue;
  font-size: small;
  cursor: pointer;
}

.image_back{
  width: 25px;
  height: 25px;
  margin-right: 2px;
  cursor: pointer;
}

.content_back{
  text-align: right;
}