/*------------------------------------switch*/
.switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 90px;
	height: 19px;
	padding: 0px;
	margin: 0 0px 0px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #E1B42B;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 1.5px;
	left: 4px;
	width: 15px;
	height: 15px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 74px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}
/*------------------------------------------*/
/*_________________________________COLOR TABLES ROWS COLUMNS*/
.hospital-name-format{
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: #0B5345;
}
.alert_message{
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

.save_disabled_btn{
  opacity: 0.5;
  cursor:  not-allowed;
  width: 20px;
  height: 20px;
}

.tools{
  width: 20px;
  height: 20px;
  /*margin-left: 5px;*/
  cursor: pointer;
}

.row_new{
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
  background-color: cadetblue;
}
/*__________________________________________________________*/
/*//////////////////////////CONTROLS*/
.content-general-tools{
  text-align: right;
}
figure {
  display: inline-block;
  border-right: gray;
  border-style:  hidden solid hidden hidden;
  border-width: 1px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  width: max-content;
  margin-bottom: 0%;
}
.table-controls{
  background-color: rgb(216, 224, 224);
}
.tool-text{
  color: black;
  font-size: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
/*///////////////////////////////////*/

select, input{
  padding: 0% 0% 0% 0%;
  height: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: smaller;
  color: cadetblue;
  font-family: Arial, Helvetica, sans-serif;
}
th{
  padding-top: 1px;
  padding-bottom: 1px;
  vertical-align: middle;
  text-align: center;
  color: #0B5345;
  font-family: Arial, Helvetica, sans-serif;
}
td{
  padding: 0% 0% 0% 5px;
}
td > select, input {
        padding-right: 0px;
        margin-bottom: 1px;
        margin-top: 0%;
        margin-right: 0px;
        min-width: 100px;
      }
.description_long{
        padding-right: 0px;
        margin-bottom: 1px;
        margin-top: 0px;
        margin-right: 0px;
        min-width: 230px;
}
.description_long_hospital{
  padding-right: 0px;
  margin-bottom: 1px;
  margin-top: 0px;
  margin-right: 0px;
  min-width: 250px;
}
/*td{
  white-space: nowrap;
  border: 1px solid blue;
  text-overflow: ellipsis;
  overflow: hidden;
  width: auto;
}*/
.special-rows-style{
  padding-top: 0px;
  margin-top: 0px;
  white-space: nowrap;
  /*background-color: #0B5345;*/
}
.table-titles{
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}
.table-content{
  margin-left: 0%;
  padding-left: 0%;
  display: flex;
  width: 100%;
  overflow-x: auto;
  background-color:white;
}

.sts-container {
    overflow-y: scroll;
    position: relative;
    /* scroll container also needs a fixed/defined height */
  }
  .sts-container .sts-row {
    position: absolute;
  }
  .sts-container .sts-bottom-anchor {
    position: absolute;
    height: 1px;
    width: 1px;
  }

  .width-smart-table{
      width: 1000px;
      background-color: teal;
  }

.col-custom{
  width: 50%;
  overflow-x: hidden;
}
.table-container{
  width: 1500px;
  height: 500px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.tools-align{
  text-align: right;
  display: block;
}
.tools-content{
  border-style: none none solid none;
  border-width: 1px;
  border-bottom: teal;
  background-color: rgb(216, 224, 224);
  padding-bottom: 1px;
}
.content-table{
  margin-top: 2px;
}
.title_main{
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
}

.regresar{
  color: blue;
  font-size: small;
  cursor: pointer;
}

.image_back{
  width: 25px;
  height: 25px;
  margin-right: 2px;
  cursor: pointer;
}

.content_back{
  text-align: right;
}
.select-style-status{
  margin-top: 3px;
  width: 100px;
}
