.pointer {
    cursor: pointer;
}

.user-name{
    font-size: small;
}

.user-branch-office{
    font-size: x-small;
}

.user-profile-color{
    background-color:rgb(19, 32, 63);
}
.email-color{
    background-color: #6581CE;
}
.notifications-color{
    background-color: #1F3B88;
}
