<div class="row">
  <div class="col-12">
      <h4 class="d-inline">Entidades</h4>
      <br>
      <!-- Row -->
      <div class="row" >
        
          <!-- column -->
          <div class="col-lg-3 col-md-6">
              <!-- Card -->
              <div class="card">
                  <div class="image-icon-entities-content">
                    <img class="card-img-top image-icon-entities" src="https://e1-cln-ema-store.s3.amazonaws.com/ema_medical/entidades/PEMEX.png" alt="Card image cap">
                  </div>
                  <div class="card-body color-name">
                    <div class ="row">
                      <div class="col-sm-8">
                        <p class="card-title">PEMEX
                        </p>
                      </div>
                      <div class="col-sm-3">
                        <input type="button" class="btn btn-primary" value="Ver detalles" (click)="OpenPage(1, 1)" />
                      </div>
                    </div>
                     <!-- <p class="card-text">Información sobre los datos de investigación de institución PEMEX.</p>-->
                  </div>
              </div>
              <!-- Card -->
          </div>
          <!-- column -->
          <!-- column -->
          <div class="col-lg-3 col-md-6">
              <!-- Card -->
              <div class="card">
                <div class="image-icon-entities-content">
                  <img class="card-img-top image-icon-entities" src="https://e1-cln-ema-store.s3.amazonaws.com/ema_medical/entidades/IMSS.png" alt="Card image cap">
                </div>
                  <div class="card-body">
                    <div class ="row">
                      <div class="col-sm-8">
                        <p class="card-title">IMSS </p>
                      </div>
                      <div class="col-sm-3">
                        <input type="button" class="btn btn-primary" value="Ver detalles" (click)="OpenPage(1, 2)" />
                      </div>
                    </div>
                  </div>
              </div>
              <!-- Card -->
          </div>
          <!-- column -->
           <!-- column -->
           <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card">
              <div class="image-icon-entities-content">
                <img class="card-img-top image-icon-entities" src="https://e1-cln-ema-store.s3.amazonaws.com/ema_medical/entidades/ISSSTE_OK.jpg" alt="Card image cap">
              </div>
                <div class="card-body">
                  <div class ="row">
                    <div class="col-sm-8">
                      <p class="card-title">ISSSTE</p>
                    </div>
                    <div class="col-sm-3">
                      <input type="button" class="btn btn-primary" value="Ver detalles" (click)="OpenPage(1, 3)" />
                    </div>
                  </div>
                </div>
            </div>
            <!-- Card -->
          </div>
           <!-- column -->
             <!-- column -->
             <div class="col-lg-3 col-md-6">
              <!-- Card -->
              <div class="card">
                <div class="image-icon-entities-content">
                  <img class="card-img-top image-icon-entities" src="https://e1-cln-ema-store.s3.amazonaws.com/ema_medical/entidades/SEDENA_OK.png" alt="Card image cap">
                </div>
                  <div class="card-body">
                    <div class ="row">
                      <div class="col-sm-8">
                        <p class="card-title">SEDENA</p>
                      </div>
                      <div class="col-sm-3">
                        <input type="button" class="btn btn-primary" value="Ver detalles" (click)="OpenPage(1, 4)" />
                      </div>
                    </div>
                  </div>
              </div>
              <!-- Card -->
            </div>
             <!-- column -->
              <!-- column -->
              <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                  <div class="image-icon-entities-content">
                    <img class="card-img-top image-icon-entities" src="https://e1-cln-ema-store.s3.amazonaws.com/ema_medical/entidades/SSA_OK.png" alt="Card image cap">
                  </div>
                    <div class="card-body">
                      <div class ="row">
                        <div class="col-sm-8">
                          <p class="card-title">SSA</p>
                        </div>
                        <div class="col-sm-3">
                          <input type="button" class="btn btn-primary" value="Ver detalles" (click)="OpenPage(1, 5)" />
                        </div>
                      </div>
                    </div>
                </div>
                <!-- Card -->
              </div>
               <!-- column -->
                  <!-- column -->
           <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card">
              <div class="image-icon-entities-content">
                <img class="card-img-top image-icon-entities" src="https://e1-cln-ema-store.s3.amazonaws.com/ema_medical/entidades/ISSEMYM_.png" alt="Card image cap">
              </div>
                <div class="card-body">
                  <div class ="row">
                    <div class="col-sm-8">
                      <p class="card-title">ISSEMyM</p>
                    </div>
                    <div class="col-sm-3">
                      <input type="button" class="btn btn-primary" value="Ver detalles" (click)="OpenPage(1, 6)" />
                    </div>
                  </div>
                </div>
            </div>
            <!-- Card -->
          </div>
           <!-- column -->
              <!-- column -->
              <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                  <div class="image-icon-entities-content">
                    <img class="card-img-top image-icon-entities" src="https://e1-cln-ema-store.s3.amazonaws.com/ema_medical/entidades/ISSTEP_OK.png" alt="Card image cap">
                  </div>
                    <div class="card-body">
                      <div class ="row">
                        <div class="col-sm-8">
                          <p class="card-title">ISSSTEP</p>
                        </div>
                        <div class="col-sm-3">
                          <input type="button" class="btn btn-primary" value="Ver detalles" (click)="OpenPage(1, 7)" />
                        </div>
                      </div>
                    </div>
                </div>
                <!-- Card -->
              </div>
               <!-- column -->
                 <!-- column -->
              <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                  <div class="image-icon-entities-content">
                    <img class="card-img-top image-icon-entities" src="https://e1-cln-ema-store.s3.amazonaws.com/ema_medical/entidades/privadas-general.png" alt="Card image cap">
                  </div>
                    <div class="card-body">
                      <div class ="row">
                        <div class="col-sm-8">
                          <p class="card-title">INST. PRIVADAS</p>
                        </div>
                        <div class="col-sm-3">
                          <input type="button" class="btn btn-primary" value="Ver detalles" (click)="OpenPage(1, 8)" />
                        </div>
                      </div>
                    </div>
                </div>
                <!-- Card -->
              </div>
               <!-- column -->
                    <!-- column -->
           <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card">
              <div class="image-icon-entities-content">
                <img class="card-img-top image-icon-entities" src="" alt="Card image cap">
              </div>
                <div class="card-body">
                  <div class ="row">
                    <div class="col-sm-8">
                      <p class="card-title">Hospital Civil De Guadalajara</p>
                    </div>
                    <div class="col-sm-3">
                      <input type="button" class="btn btn-primary" value="Ver detalles" (click)="OpenPage(1, 9)" />
                    </div>
                  </div>
                </div>
            </div>
            <!-- Card -->
          </div>
           <!-- column -->
      </div>
      <!-- Row -->
  </div>
</div>