:host /deep/ .size-logo{
    width: 70px;
    height: 80px;
    padding-top: 5px;
}
:host /deep/ .class-icon{
    text-align: center;
}
:host /deep/ .logo-text{
    position: relative;
    height: 35px;
}

:host /deep/ .size-logo-original{
    width: 150px;
    height: 72px;
}


.options-menu{
    margin-top: 0px;
    width: 5px;
    height: 10px;
}

.options-menu-content{
    width: 7px;
    height: 12px;
}